<!-- Table to display filtered products -->
<div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Percentage</th>
          <th>Amount</th>
          <th>Annual Return</th>
          <th>Asset Class</th>
          <th>Pros</th>
          <th>Cons</th>
          <th>Liquidity</th>
          <th>Risk Tolerance</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.name }}</td>
          <td>{{ product.percentage }}</td>
          <td>{{ product.amount }}</td>
          <td>{{ product.return }}</td>
          <td>{{ product.assetClass }}</td>
          <td>{{ product.pros }}</td>
          <td>{{ product.cons }}</td>
          <td>{{ product.liquidity }}</td>
          <td>{{ product.risk }}</td>
        </tr>
      </tbody>
    </table>
  </div>